
:root {
    --primary_color: hsl(136, 100%, 33%);
}

.col{
    margin-bottom: 10px;
}

body {
    /* background-color: rgba(223, 218, 218, 0.427); */
    color: #657279;
    /* position: absolute; */
}

.primary_color {
    background-color: var(--primary_color);
}
body, p, div, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

/* NAV MENU CSS */
.nav_bar {
    background-color:  var(--primary_color);
}

.nav_container {
    height: 4rem;
    /* width: 100vw; */
    display: flex;
    /* align-self: auto; */
    justify-content: space-between;
    align-items: center;
    /* column-gap: 10rem ; */
}

.whatsapp_svg {
    width: 2.5rem;
    height: 2.5rem;
    align-items: center;
    margin-right: .5rem;
}

.nav_link {
    /* margin-right: 1rem; */
    color: white;
    /* font-size: 1rem; */
}

.nav_btn, .login_icon {
    font-size: 2.5rem;
    line-height: 0;
    width: max-content;
    align-items: center;
    color: white;

}


.login_icon {
    display: block;
    border: solid white 2px;
    border-radius: 50%;
    /* height: 44px;
    width: 44px; */
}

.login_icon2 {
    font-size: 1.25rem;
    color: white;
}

.nav_item a {
    display: block;
}

/* .nav_container {
    display: flex;
} */

.drop_down_menu {
    list-style: none;
    display: flex;
    /* column-gap: 2rem; */
    align-items: center;
    /* height: 10%; */
    margin: auto;
    padding: auto;
}

.login_icon {
    margin-left: 2rem;
}
/* navbar navbar-expand-lg navbar-dark bg-dark */

/* HERO SECTION */
.hero_img {
    width: 100%;
}


.hero_section, .category {
    height: max-content;
    /* width: 100vw; */
    background: black;
    overflow: hidden;
}


.hero_img {
    /* position: absolute; */
   object-fit:fill;
   /* z-index: 20; */
   height: 60vh;
   opacity: 0.5;
}

.hero_text {
    position: absolute;
    top: 0;
    left: 0;
    height: 80vh;
    /* width: 100vw; */
    /* background-color: yellow; */
    /* margin: auto; */
    /* display: flex; */
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-weight:900; */
    /* color: white; */
    /* font-size: larger; */
    /* letter-spacing: 4; */
}



.hero_search_form {
    /* height: 6rem; */
    background-color: white;
    padding: .5rem;
    /* justify-content: center;
    align-items: center; */
    margin-top: .5rem;
}


/* CARD SECTION */
.card{
    cursor: pointer;
}

.card_hover:hover {
    /* background-color: hsl(136, 100%, 33%); */
    border: 2px solid var(--primary_color);
    border-radius: 10px;
    /* opacity: .1; */
}

.card-title {
    color: var(--primary_color);
}

.explore-btn, .search-btn {
    background-color: var(--primary_color);
    color: white;
    border: none;
}


/* Create University Section CSS */

/* .create_uni_form input, #uni_name {
    margin-bottom: rem;
} */

.hidden {
    display: none;
}

li {
    list-style: none;
}

.states-wrapper {
    height: 90vh;
    /* overflow: scroll; */
}

/* Category Section */
.category:hover{
    cursor: pointer;
}
.categorySection{
    position: relative;
    color: white;
    font-weight: bolder;
}

.categories{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.categoryText{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    border: 2px solid blue;
    margin: auto;
}

.categoryImg{
    opacity: 0.6;
    /* border: solid yellow 2px; */
    /* width: 15rem; */
    /*height: 15rem;
    object-fit: cover; */
}

.col_1 {
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    /* width: max-content;
    height: max-content; */
    
    /* width: 20rem;
    height: 15rem; */
}

/* newsletter */
.newsletter{
    background-color: var(--primary_color);
}

/* footer */
.footer_text{
    display: flex;
    flex-direction: column;
    color: var(--primary_color);
    gap: 10px;
}
.footer_link {
    list-style: none;
    width: max-content;
    color: var(--primary_color);
    /* font-weight: bold; */
}
.footer_link li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.phone{
    text-decoration: none;
    color: var(--primary_color);
    font-weight: bold;
}

.atiniger_footer_logo{
    height: max-content;
    width: max-content;
}

.bi-arrow-up-circle{
    color: white;
}