<!-- Footer -->

<footer class="container-fluid bg-light pt-3">
    <hr>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="atiniger_footer_logo bg-dark">
                    <a href="/"><img src="{{ url_for('static', filename='images/atiNiger.png') }}" alt=""></a>
                </div>
                <p class="footer_text mt-4">
                    Search Universities in Nigeria from a single endpoint
                </p>
            </div>
            <div class="col">
                <ul class="footer_link">
                    <h6 class="mb-1">By Ownerships</h6>
                    <li><a href="/ownership/federal">Federal Universities</a> </li>
                    <li><a href="/ownership/state">State Universities</a> </li>
                    <li><a href="/ownership/private">Private Universities</a> </li>
                </ul>
            </div>
            <div class="col footer_text">
                <p>
                    AtiNiger is an Open Source project with the goal of providing easy and single access point to
                    directories of all the tertiary institutions in Nigeria.
                    For Investors, Students and Parent
                </p>
                <p>
                    Are you a Developer? The API endpoints can be accessed for free.
                </p>
                <p>Contact the Team:</p>
                <a class="phone" href="tel:+2348164462713">(+234)8164462713</a>
            </div>
        </div>


    </div>

</footer>
<div class="container-fluid text-center bg-dark text-white d-flex justify-content-between align-items-center ps-4 pe-4">
    <p class="lead">Copyright &copy; OrnoriT</p>
    <a href="#" class="">
        <i class="bi bi-arrow-up-circle h1"></i>
    </a>
</div>