{% extends "base.html" %}

{% block content %}

<!-- ================HERO SECTION================== -->
<div class="hero_section  text-center"
  style="background:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%), url('../static/images/university_img2.jpg'); background-size: cover; background-repeat: no-repeat;">

  <div class=" hero_text pt-md-4  text-light justify-content-center align-items-center text-center container-fluid">
    <h2 class="h1 mt-md-4 pt-md-4"> Find and Locate Universities in Nigeria.</h2>
    <h3>Search through {{count}}+ Degree awarding Institutions in Nigeria</h3>

  </div>
</div>
<form class="container input-group hero_search_form p-md-4" method="get" action="/institutions/search">
  <input name="name" type="text" class="form-control" placeholder="Searh for schools in a State or particular School">
  <button class="btn btn-success search-btn" type="submit" value="search" id="button-addon2a">Search</button>
</form>

<!-- ================SUGGESTED UNIVERSITY SECTION================== -->
<!-- <section class="content"> -->
<section class="container-fluid">
  <div class="container text-center p-5">
    <h2 class="">Categories of Universities in Nigeria</h2>
    <div class="row mt-5">
      <div class="col">
        <div class="card mb-2 card_hover">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <i class="bi bi-door-open"></i>
            </div>
            <h3 class="card-title mb-3">
              Private
            </h3>

            <a href="/ownership/private" class="btn btn-success explore-btn">Explore&nbsp<i
                class="bi bi-arrow-right-circle d-none d-sm-inline"></i></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-2 card_hover">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <i class="bi bi-house"></i>
            </div>
            <h3 class="card-title mb-3">
              State
            </h3>

            <a href="/ownership/state" class="btn btn-success explore-btn">Explore&nbsp<i
                class="bi bi-arrow-right-circle d-none d-sm-inline"></i></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-2 card_hover">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <i class="bi bi-book"></i>
            </div>
            <h3 class="card-title mb-3">
              Federal
            </h3>

            <a href="/ownership/federal" class="btn btn-success explore-btn">Explore&nbsp<i
                class="bi bi-arrow-right-circle d-none d-sm-inline"></i></a>
          </div>

        </div>

      </div>
    </div>

  </div>
  </div>
</section>


<!-- ======================Suggested Universities in Nigeria====================== -->
<section class="container-fluid">
  <div class=" container text-center p-1">
    <h3 class="">Browse Universities in Nigeria's State</h3>
    <!-- Suggested Row 1 -->
    <div class="row mt-5 suggested">
      <div class="col">
        <div class="card mb-2 card_hover colNewSize">
          <div class="card-body text-center">
            <a href="/universities/search?state=lagos">
              <div class="h5 mb-3">
                <small>Universities in <br> Lagos State</small>
              </div>
              <!-- <p class="uni-count mb-3">
              09
            </p> -->
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-2 card_hover colNewSize">
          <div class="card-body text-center">
            <a href="/universities/search?state=kaduna">
              <div class="h5 mb-3">
                <small>Universities in <br> Kaduna State</small>
              </div>
              <!-- <p class="uni-count mb-3">
              55
            </p> -->
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-2 card_hover colNewSize">
          <div class="card-body text-center">
            <a href="/universities/search?state=akwa">
              <div class="h5 mb-3">
                <small>Universities in <br> Akwa-Ibom</small>
              </div>
              <!-- <p class="uni-count mb-3">
              12
            </p> -->
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-2 card_hover colNewSize">
          <div class="card-body text-center">
            <a href="/universities/search?state=oyo">
              <div class="h5 mb-3">
                <small>Universities in <br> Oyo State</small>
              </div>
              <!-- <p class="uni-count mb-3">
              22
            </p> -->
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-2 card_hover colNewSize">
          <div class="card-body text-center">
            <a href="/universities/search?state=rivers">
              <div class="h5 mb-3">
                <small>Universities in <br> Rivers State</small>
              </div>
              <!-- <p class="uni-count mb-3">
              30
            </p> -->
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-2 card_hover colNewSize">
          <div class="card-body text-center">
            <a href="/universities/search?state=kano">
              <div class="h5 mb-3">
                <small>Universities in <br> Kano State</small>
              </div>
              <!-- <p class="uni-count mb-3">
              02
            </p> -->
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Suggested Row 2 -->
    <div class="row suggested">
      <div class="col">
        <div class="card mb-2 card_hover colNewSize">
          <div class="card-body text-center">
            <a href="/universities/search?state=ogun">
              <div class="h5 mb-3">
                <small>Universities in <br> Ogun State</small>
              </div>
              <!-- <p class="uni-count mb-3">
              09
            </p> -->
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-2 card_hover colNewSize">
          <div class="card-body text-center">
            <a href="/universities/search?state=bauchi">
              <div class="h5 mb-3">
                <small>Universities in <br> Bauchi State</small>
              </div>
              <!-- <p class="uni-count mb-3">
              55
            </p> -->
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-2 card_hover colNewSize">
          <div class="card-body text-center">
            <a href="/universities/search?state=delta">
              <div class="h5 mb-3">
                <small>Universities in <br> Delta State</small>
              </div>
              <!-- <p class="uni-count mb-3">
              12
            </p> -->
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-2 card_hover colNewSize">
          <div class="card-body text-center">
            <a href="/universities/search?state=ekiti">
              <div class="h5 mb-3">
                <small>Universities in <br> Ekiti State</small>
              </div>
              <!-- <p class="uni-count mb-3">
              22
            </p> -->
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-2 card_hover colNewSize">
          <div class="card-body text-center">
            <a href="/universities/search?state=taraba">
              <div class="h5 mb-3">
                <small>Universities in <br> Taraba State</small>
              </div>
              <!-- <p class="uni-count mb-3">
              30
            </p> -->
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-2 card_hover colNewSize">
          <div class="card-body text-center">
            <a href="/universities/search?state=sokoto">
              <div class="h5 mb-3">
                <small>Universities in <br> Sokoto State</small>
              </div>
              <!-- <p class="uni-count mb-3">
              02
            </p> -->
            </a>
          </div>
        </div>
      </div>
    </div>


  </div>
  </div>
</section>

<!-- ================Top Choice SECTION================== -->

<section class="container-fluid bg-light">
  <div class="container p-5">
    <h2 class="mb-5 text-center">Top Choice Universities</h2>
    <div class="row justify-items-center align-content-center">
      <div class="col mb-4">
        <a href="/university/search?name=University of ibadan">
          <div class="card">
            <img src="../static/images/UniIbadan.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">University of Ibadan</h5>
              <p class="card-text">Ibadan</p>
              <p class="">Oyo State</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col mb-4 ">
        <a href="/university/search?name=University of Lagos">
          <div class="card">
            <img src="../static/images/uniLag.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">University of Lagos</h5>
              <p class="card-text">Lagos</p>
              <p class="">Lagos State</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col mb-4">
        <a href="/university/search?name=Covenant University">
          <div class="card">
            <img src="../static/images/covenant-aerial-view.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Covenant University</h5>
              <p class="card-text">Ota</p>
              <p class="">Ogun State</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col mb-4">
        <a href="/university/search?name=UNN">
          <div class="card">
            <img src="../static/images/UNN.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">University of Nigeria</h5>
              <p class="card-text">Nsukka</p>
              <p class="">Enugu State</p>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row mt-4 justify-items-center align-content-center">
      <div class="col mb-4">
        <a href="/university/search?name=University of Ilorin">
          <div class="card">
            <img src="../static/images/uniIlorin.jfif" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">University of Ilorin</h5>
              <p class="card-text">Ilorin</p>
              <p class="">Kwara State</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col mb-4">
        <a href="/university/search?name=Obafemi Awolowo University">
          <div class="card">
            <img src="../static/images/OAU.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Obafemi Awolowo University</h5>
              <p class="card-text">Ile-Ife</p>
              <p class="">Osun State</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col mb-4">
        <a href="/university/search?name=University of Port-Harcourt">
          <div class="card">
            <img src="../static/images/uniport.jfif" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">University of Port Harcourt</h5>
              <p class="card-text">Port Harcourt</p>
              <p class="">Rivers State</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col mb-4">
        <a href="/university/search?name=Federal University of Technology Akure">
          <div class="card">
            <img src="../static/images/futa.jfif" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Federal University of Technology Akure</h5>
              <p class="card-text">Akure</p>
              <p class="">Ondo State</p>
            </div>
          </div>
        </a>
      </div>


    </div>
  </div>

</section>
<!-- </section> -->




{% endblock %}