<!-- newsletter -->
<section class="newsletter text-light p-5">
    <div class="container">
        <div class="d-md-flex align-items-center justify-content-between">
            <h3 class="mb-3 mb-md-0">SignUp for our Newsletter</h3>

            <div class="input-group news-input ">
                <input type="text" class="form-control" placeholder="Enter Email" />
                <button class="btn btn-dark btn-lg" type="button">Submit</button>
            </div>
        </div>
    </div>
</section>